<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <Img src="https://scontent-hel3-1.cdninstagram.com/v/t51.2885-19/s320x320/122922040_395124314990798_5651929902210889677_n.jpg?tp=1&_nc_ht=scontent-hel3-1.cdninstagram.com&_nc_ohc=2nT_T0dW8PwAX9RRIxf&edm=ABfd0MgAAAAA&ccb=7-4&oh=168aecd0cdb95843fb528c946c07ae1b&oe=6098D4AD&_nc_sid=7bff83" Width="150" Height="150">
                  <p> </p>
                  Ситнов Руслан
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>
              <p><b>Высшее образование (Магистр)</b></p>
              Московский городской педагогический университет, Москва
              (Прикладная информатика)
              <p>
              <p><b>Повышение квалификации, курсы</b></p>
              Автономная некоммерческая организация дополнительного
              профессионального образования "школа анализа данных",
              https://praktikum.yandex.ru, Python-разработчик
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}